.comment-card{
    height: 90vw;
    height: 20vh;
    border: 1px solid #2c2c2c;
    border-radius: 10px;
    margin-top: 1vh;
}
.card-header{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: 15%;
    border-bottom: 1px solid #2c2c2c;
}
.card-body{
    width: 100%;
    height: 90%;
    padding: 2%;
}